@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #main{
        min-height: 80dvh;
    }
    .card{
        @apply cursor-pointer rounded-b-lg flex flex-col w-full h-full shadow-xl;
    }

    .card-container-img{
        @apply w-full h-[200px] overflow-hidden;
    }

    .card-img{
        @apply w-full h-full object-cover rounded-t-lg;
    }

    .card-info{
        @apply w-full h-[200px] rounded-b-lg px-4 py-4 flex flex-col justify-center bg-white;
    }

    .card-info-title{
        @apply font-semibold text-xl pb-3;
    }

    .card-info-text{
        @apply flex opacity-90 justify-start gap-1;
    }

    .country-list{
        @apply w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 justify-center gap-10 pb-10 place-items-center;
    }

    .country{
        @apply max-w-[290px] max-h-[400px];
    }

    .country-card-img-container{
        @apply max-w-lg max-h-96 overflow-hidden;
    }

    #toggle-menu {
        transition: transform 0.3s;
    }
    
    #arrow-icon {
        transition: all 0.3s;
    }
    .rotated{
        transform: rotate(180deg) !important;
    }

    .dark-mode-main-inactive{
        @apply bg-gray-100 text-gray-900
    }

    .dark-mode-main-active{
        @apply bg-gray-900 text-gray-100;
    }

    .dark-mode-secondary-inactive{
        @apply bg-white;
    }

    .dark-mode-secondary-active{
        @apply bg-gray-800;
    }

    .details-container-wrapper{
        @apply max-w-7xl mx-auto p-6 xl:px-0 space-y-4;
    }

    .country-card-details{
        @apply flex flex-col justify-between items-center gap-12 lg:flex-row;
    }

    .country-details{
        @apply flex flex-col gap-8 lg:gap-12;
    }

    .country-card-title{
        @apply text-3xl font-bold mb-6;
    }
    
    .back-btn{
        @apply flex items-center space-x-2 rounded py-2 px-9 shadow-lg w-fit;
    }

    .country-card{
        @apply space-y-8;
    }

    .country-card-info{
        @apply flex flex-col lg:flex-row lg:justify-between gap-8;
    }

    .country-card-info div p:not(strong){
        @apply font-light;
    }

    .country-card-info div strong{
        @apply font-semibold;
    }

    .country-card-inside{
        @apply flex flex-col justify-center gap-8;
    }

    .border-container{
        @apply flex gap-4 justify-center flex-wrap mt-6;
    }

    .border-btn{
        @apply px-6 py-1 rounded-sm w-fit shadow-md;
    }

    .dark-mode-switch .dot {
        transform: translateX(0);
      }
    
      .dark-mode-switch input[type="checkbox"]:checked + .dark-mode-label .dot {
        transform: translateX(100%);
      }
    
      /* Estilos para el interruptor de Dark Mode en modo oscuro */
      .dark-mode-switch.dark-mode-label {
        background-color: #1f2937; /* Ajusta el color de fondo del interruptor en modo oscuro según tu preferencia */
      }
    
      .dark-mode-switch.dark-mode-label .dot {
        background-color: #fff; /* Ajusta el color del punto del interruptor en modo oscuro según tu preferencia */
      }
}